body{
    background-image:url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}
h2,p {
    color:#AA4139;
    text-align: center;
    border: 5px solid rgba(255,176,170,0.5);
    cursor:pointer;
}
p{
    color:green;
    text-transform: uppercase;
}
li {
    list-style: none;
    display: inline-block;
}
.webtext {
    border: 5px dashed rgb(240, 254, 255);
    
}
.active {
    color: red;
}
#div1{
    background: rgba(0,255,0,0.35);
}